<head>
<style type="text/css">
	.tag-sugession{
		font-size: large;
	}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("button").click(function(){
        $.ajax({url: "/discussion/get-category/"+$("#inp").val(), success: function(result){
            $("#div1").html(result.tags);
        }});
    });
});
</script>
</head>


{% if user.is_authenticated %}
<h1>Welcome {{user.first_name}} {{user.last_name}} {{user.email}}</h1>
<p style="float:right;"><a href="{% url 'log-out' %}">logout</a></p>
<a href="{% url 'discussion-list' %}">All discussions</a>
<br>
<a href="{% url 'discussion-my' %}">My discussions</a>
<br>
<a href="{% url 'discussion-private' %}">Private discussions</a>
<br>
<a href="{% url 'discussion-create' %}">Start a discussion</a>


{% if st_tag %}
<div class="tag-sugession">
	<p>recommended tags : </p>
	<span>#{{st_tag}}</span><br>
	{% if tt_tag %}
		<span>#{{tt_tag}}</span>
	{% endif %}
</div>
{% endif %}

{% if per_queryset %}
    {% if first_view_flag %}
        <p>There are not new discussions, these the ones you might be interested in to check out again.</p>
    {% endif %}
	<ul>
	{% for discussion in per_queryset %}
	<li>{{discussion.title}}</li>
	{% endfor %}
	</ul>
{% endif %}


<div id="div1"></div>

{% else %}
<h1>Please register or login.</h1>
{% endif %}
